/* -------------------- bootstrap class replacement styles ------------------ */
/* -- COLOR -- */
.text-white { color: white; }
.text-muted { color: #6c757d; }
.text-dark { color: #212529; }
.bg-dark { background-color: #212529 !important; }
.bg-light { background-color: #f8f9fa !important; }


/* -- GRID -- */
.row { display: grid; }
.grid-67-33 { grid-template-columns: 2fr 1fr; }
.grid-75-25 { grid-template-columns: 3fr 1fr; }
.g-5 { grid-gap: 3rem; gap: 3rem; }

/* 
  Note: Bootstrap uses CSS Flexbox properties rather than CSS grid properties.
  The Bootstrap grid was designed before Grid was added to CSS.
  Below are the properties used by Bootstrap.
*/
/* 
.row {
  display: flex;
  flex-wrap: wrap;  
}
.col-md-9 {
  flex: 0 0 auto;
  width: 74%;
}
.col-md-8 {
  flex: 0 0 auto;
  width: 65%;
}
.col-md-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-md-4 {
  flex: 0 0 auto;
  width: 32%;
}
.col-md-3 {
  flex: 0 0 auto;
  width: 24%;
} 
*/